openapi: 3.1.0
info:
  contact:
    email: integration@gearment.com
    name: Support Integration
  termsOfService: https://gearment.com/integration/api-terms-of-service.html
  title: Gearment API integration
  version: v3.0.0
  description: Find out more about Gearment API v3
servers:
  - url: https://apiv2.gearment.com/integration-handler
    description: Production Server
  - url: https://api.gearmentinc.com/integration-handler
    description: Sandbox Server
tags:
  - name: api.catalog.v1.VendorCatalogAPI
    description: |-
      VendorCatalogAPI provides access to product catalog and inventory management.
       Use these endpoints to browse available products, check stock status, and get product details.

       Base URL: https://api.gearment.com/
       Authentication: API Key (header: X-API-Key, X-API-Secret)
    x-displayName: Catalog
  - name: api.webhook.v1.VendorWebhookAPI
    description: |-
      VendorWebhookAPI provides webhook management for real-time event notifications.
       Register webhooks to receive automated notifications when orders are completed, cancelled, or tracking is updated.

       Base URL: https://api.gearment.com/
       Authentication: API Key (header: X-API-Key, X-API-Secret)
    x-displayName: Webhook
  - name: api.order.v1.VendorOrderAPI
    description: |-
      VendorOrderAPI provides comprehensive order management capabilities for vendors.
       All endpoints require authentication via X-API-Key and X-API-Secret headers.

       Base URL: https://api.gearment.com/
       Authentication: API Key (header: X-API-Key, X-API-Secret)
    x-displayName: Order
  - name: api.support.v1.VendorSupportAPI
    description: VendorSupportAPI is the modern (v3) vendor-facing issue-ticket API.
    x-displayName: Support
externalDocs:
  description: Find out more about Gearment API v3
  url: https://gearment.com/integration/api-docs.html
paths:
  /api/v3/catalog:
    get:
      tags:
        - api.catalog.v1.VendorCatalogAPI
      summary: List Catalog
      description: |-
        List all available products in the catalog

         GET /api/v3/catalog

         Returns:
           - Product listings with base information
           - Available variants for each product
           - Pricing and printing options

         Use cases:
           - Build product catalog in your system
           - Display available products to customers
           - Sync product updates
      operationId: api.catalog.v1.VendorCatalogAPI.VendorListCatalog
      parameters:
        - name: filter.product_ids
          in: query
          description: Filter by specific product IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - prod_abc123
              maxLength: 100
              minLength: 1
            title: product_ids
            description: Filter by specific product IDs
        - name: filter.search_text
          in: query
          description: Search products by name or description
          schema:
            type: string
            examples:
              - Unisex T-Shirt
            title: search_text
            maxLength: 100
            description: Search products by name or description
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.catalog.v1.VendorListCatalogResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/catalog/variants:
    get:
      tags:
        - api.catalog.v1.VendorCatalogAPI
      summary: List Catalog Variant
      description: |-
        List product variants with detailed specifications

         GET /api/v3/catalog/variants

         Returns:
           - Variant details (size, color, SKU)
           - Pricing information
           - Stock availability
           - Print area specifications

         Use cases:
           - Get variant-specific pricing
           - Check size/color availability
           - Display product options to customers
      operationId: api.catalog.v1.VendorCatalogAPI.VendorListCatalogVariant
      parameters:
        - name: filter.color_codes
          in: query
          description: Filter by color codes (internal codes or hex)
          schema:
            type: array
            items:
              type: string
              examples:
                - COLOR_BLACK
              maxLength: 100
              minLength: 1
            title: color_codes
            description: Filter by color codes (internal codes or hex)
        - name: filter.colors
          in: query
          description: Filter by colors (display names)
          schema:
            type: array
            items:
              type: string
              examples:
                - Black
              maxLength: 100
              minLength: 1
            title: colors
            description: Filter by colors (display names)
        - name: filter.legacy_variant_ids
          in: query
          description: Filter by legacy variant IDs (for backward compatibility)
          schema:
            type: array
            items:
              exclusiveMinimum: 0
              type: integer
              examples:
                - 12345
              format: int32
            title: legacy_variant_ids
            description: Filter by legacy variant IDs (for backward compatibility)
        - name: filter.product_ids
          in: query
          description: Filter by product IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - prod_abc123
              maxLength: 100
              minLength: 1
            title: product_ids
            description: Filter by product IDs
        - name: filter.search_text
          in: query
          description: Search variants by text
          schema:
            type: string
            examples:
              - Black Medium
            title: search_text
            description: Search variants by text
        - name: filter.size_codes
          in: query
          description: Filter by size codes (internal codes)
          schema:
            type: array
            items:
              type: string
              examples:
                - SIZE_M
              maxLength: 100
              minLength: 1
            title: size_codes
            description: Filter by size codes (internal codes)
        - name: filter.sizes
          in: query
          description: Filter by sizes (display names)
          schema:
            type: array
            items:
              type: string
              examples:
                - M
              maxLength: 100
              minLength: 1
            title: sizes
            description: Filter by sizes (display names)
        - name: filter.skus
          in: query
          description: Filter by SKUs
          schema:
            type: array
            items:
              type: string
              examples:
                - SKU-TS-BLK-M
              maxLength: 100
              minLength: 1
            title: skus
            description: Filter by SKUs
        - name: filter.stock_labels
          in: query
          description: Filter by stock availability
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.catalog.v1.VendorCatalogVariantStockLabel'
            title: stock_labels
            description: Filter by stock availability
        - name: filter.variant_ids
          in: query
          description: Filter by specific variant IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - var_123
              maxLength: 100
              minLength: 1
            title: variant_ids
            description: Filter by specific variant IDs
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.catalog.v1.VendorListCatalogVariantResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/catalog/variants/shipping-fee:
    get:
      tags:
        - api.catalog.v1.VendorCatalogAPI
      summary: Get Catalog Shipping Fee
      description: |-
        Check real-time shipping fee for variants

         GET /api/v3/catalog/variants/shipping-fee

         Returns:
           - Shipping fee details for each variant
           - Shipping policy information

         Use cases:
           - Estimate shipping cost before order placement
           - Display shipping fee to customers
           - Sync shipping fee configuration in your system
      operationId: api.catalog.v1.VendorCatalogAPI.VendorGetCatalogShippingFee
      parameters:
        - name: filter.color_codes
          in: query
          description: Filter by color codes (internal codes or hex)
          schema:
            type: array
            items:
              type: string
              examples:
                - COLOR_BLACK
              maxLength: 100
              minLength: 1
            title: color_codes
            description: Filter by color codes (internal codes or hex)
        - name: filter.colors
          in: query
          description: Filter by colors (display names)
          schema:
            type: array
            items:
              type: string
              examples:
                - Black
              maxLength: 100
              minLength: 1
            title: colors
            description: Filter by colors (display names)
        - name: filter.legacy_variant_ids
          in: query
          description: Filter by legacy variant IDs (for backward compatibility)
          schema:
            type: array
            items:
              exclusiveMinimum: 0
              type: integer
              examples:
                - 12345
              format: int32
            title: legacy_variant_ids
            description: Filter by legacy variant IDs (for backward compatibility)
        - name: filter.product_ids
          in: query
          description: Filter by product IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - prod_abc123
              maxLength: 100
              minLength: 1
            title: product_ids
            description: Filter by product IDs
        - name: filter.search_text
          in: query
          description: Search variants by text
          schema:
            type: string
            examples:
              - Black Medium
            title: search_text
            description: Search variants by text
        - name: filter.size_codes
          in: query
          description: Filter by size codes (internal codes)
          schema:
            type: array
            items:
              type: string
              examples:
                - SIZE_M
              maxLength: 100
              minLength: 1
            title: size_codes
            description: Filter by size codes (internal codes)
        - name: filter.sizes
          in: query
          description: Filter by sizes (display names)
          schema:
            type: array
            items:
              type: string
              examples:
                - M
              maxLength: 100
              minLength: 1
            title: sizes
            description: Filter by sizes (display names)
        - name: filter.skus
          in: query
          description: Filter by SKUs
          schema:
            type: array
            items:
              type: string
              examples:
                - SKU-TS-BLK-M
              maxLength: 100
              minLength: 1
            title: skus
            description: Filter by SKUs
        - name: filter.stock_labels
          in: query
          description: Filter by stock availability
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.catalog.v1.VendorCatalogVariantStockLabel'
            title: stock_labels
            description: Filter by stock availability
        - name: filter.variant_ids
          in: query
          description: Filter by specific variant IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - var_123
              maxLength: 100
              minLength: 1
            title: variant_ids
            description: Filter by specific variant IDs
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.catalog.v1.VendorGetCatalogShippingFeeResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/catalog/variants/stock:
    get:
      tags:
        - api.catalog.v1.VendorCatalogAPI
      summary: Get Catalog Stock Status
      description: |-
        Check real-time stock status for variants

         GET /api/v3/catalog/variants/stock

         Returns:
           - Stock status: in_stock, out_of_stock, discontinued, temporarily_unavailable
           - Expected restock date (if applicable)

         Use cases:
           - Verify stock before order placement
           - Update product availability in your system
           - Show stock status to customers
      operationId: api.catalog.v1.VendorCatalogAPI.VendorGetCatalogStockStatus
      parameters:
        - name: filter.color_codes
          in: query
          description: Filter by color codes (internal codes or hex)
          schema:
            type: array
            items:
              type: string
              examples:
                - COLOR_BLACK
              maxLength: 100
              minLength: 1
            title: color_codes
            description: Filter by color codes (internal codes or hex)
        - name: filter.colors
          in: query
          description: Filter by colors (display names)
          schema:
            type: array
            items:
              type: string
              examples:
                - Black
              maxLength: 100
              minLength: 1
            title: colors
            description: Filter by colors (display names)
        - name: filter.legacy_variant_ids
          in: query
          description: Filter by legacy variant IDs (for backward compatibility)
          schema:
            type: array
            items:
              exclusiveMinimum: 0
              type: integer
              examples:
                - 12345
              format: int32
            title: legacy_variant_ids
            description: Filter by legacy variant IDs (for backward compatibility)
        - name: filter.product_ids
          in: query
          description: Filter by product IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - prod_abc123
              maxLength: 100
              minLength: 1
            title: product_ids
            description: Filter by product IDs
        - name: filter.search_text
          in: query
          description: Search variants by text
          schema:
            type: string
            examples:
              - Black Medium
            title: search_text
            description: Search variants by text
        - name: filter.size_codes
          in: query
          description: Filter by size codes (internal codes)
          schema:
            type: array
            items:
              type: string
              examples:
                - SIZE_M
              maxLength: 100
              minLength: 1
            title: size_codes
            description: Filter by size codes (internal codes)
        - name: filter.sizes
          in: query
          description: Filter by sizes (display names)
          schema:
            type: array
            items:
              type: string
              examples:
                - M
              maxLength: 100
              minLength: 1
            title: sizes
            description: Filter by sizes (display names)
        - name: filter.skus
          in: query
          description: Filter by SKUs
          schema:
            type: array
            items:
              type: string
              examples:
                - SKU-TS-BLK-M
              maxLength: 100
              minLength: 1
            title: skus
            description: Filter by SKUs
        - name: filter.stock_labels
          in: query
          description: Filter by stock availability
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.catalog.v1.VendorCatalogVariantStockLabel'
            title: stock_labels
            description: Filter by stock availability
        - name: filter.variant_ids
          in: query
          description: Filter by specific variant IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - var_123
              maxLength: 100
              minLength: 1
            title: variant_ids
            description: Filter by specific variant IDs
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.catalog.v1.VendorListCatalogVariantResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/webhooks:
    get:
      tags:
        - api.webhook.v1.VendorWebhookAPI
      summary: List Webhook
      description: |-
        List all registered webhooks

         GET /api/v3/webhooks

         Returns:
           - All registered webhooks for your account
           - Webhook status (active/inactive)
           - Event topics subscribed
           - Delivery URLs

         Use cases:
           - Audit webhook configurations
           - Verify webhook setup
           - List active event subscriptions
      operationId: api.webhook.v1.VendorWebhookAPI.VendorListWebhook
      parameters:
        - name: filter.statuses
          in: query
          description: Filter by webhook status (e.g., to see only active webhooks)
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Status'
            title: statuses
            description: Filter by webhook status (e.g., to see only active webhooks)
        - name: filter.store_ids
          in: query
          description: Filter by store IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - store_abc123
              minLength: 1
            title: store_ids
            description: Filter by store IDs
        - name: filter.team_ids
          in: query
          description: Filter by team IDs (internal use)
          schema:
            type: array
            items:
              type: string
              examples:
                - team_abc123
              minLength: 1
            title: team_ids
            description: Filter by team IDs (internal use)
        - name: filter.topics
          in: query
          description: Filter by event topics
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Topic'
            title: topics
            description: Filter by event topics
        - name: filter.versions
          in: query
          description: Filter by webhook version
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Version'
            title: versions
            description: Filter by webhook version
        - name: filter.webhook_ids
          in: query
          description: Filter by specific webhook IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - wh_abc123
              minLength: 1
            title: webhook_ids
            description: Filter by specific webhook IDs
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.webhook.v1.VendorListWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
    post:
      tags:
        - api.webhook.v1.VendorWebhookAPI
      summary: Create Webhook
      description: |-
        Register a new webhook for event notifications

         POST /api/v3/webhooks
         Content-Type: application/json

         Available topics:
           - VENDOR_WEBHOOK_TOPIC_ORDER_COMPLETED: Order fulfillment completed
           - VENDOR_WEBHOOK_TOPIC_ORDER_CANCELED: Order was cancelled
           - VENDOR_WEBHOOK_TOPIC_TRACKING_UPDATED: Shipping tracking updated
           - VENDOR_WEBHOOK_TOPIC_ADDRESS_UNVERIFIED: Shipping address validation failed

         Security:
           - Webhooks are sent via HTTPS POST
           - Include signature header for verification
           - Must respond with 200 OK within 30 seconds

         Use cases:
           - Automate order status updates
           - Sync tracking information
           - Alert customers of shipment
      operationId: api.webhook.v1.VendorWebhookAPI.VendorCreateWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.webhook.v1.VendorCreateWebhookRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.webhook.v1.VendorCreateWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
      parameters: []
  /api/v3/webhooks/{webhook_id}:
    delete:
      tags:
        - api.webhook.v1.VendorWebhookAPI
      summary: Delete Webhook
      description: |-
        Delete a webhook subscription

         DELETE /api/v3/webhooks/{webhook_id}

         Use cases:
           - Remove unused webhooks
           - Update webhook configuration (delete + recreate)
      operationId: api.webhook.v1.VendorWebhookAPI.VendorDeleteWebhook
      parameters:
        - name: webhook_id
          in: path
          description: Webhook ID is provided in URL path parameter
          required: true
          schema:
            type: string
            title: webhook_id
            maxLength: 255
            minLength: 1
            description: Webhook ID is provided in URL path parameter
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.webhook.v1.VendorDeleteWebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/orders:
    get:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: List Order
      description: |-
        List orders with filtering and pagination

         GET /api/v3/orders

         Use cases:
           - Monitor order status changes
           - Sync orders to your system
           - Generate reports on order volumes
      operationId: api.order.v1.VendorOrderAPI.VendorListOrder
      parameters:
        - name: filter.created_at_min
          in: query
          description: ISO 8601 date-time format (e.g., 2024-01-01T00:00:00Z)
          schema:
            type: string
            format: date-time
        - name: filter.created_methods
          in: query
          description: Filter by order creation methods
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.order.v1.VendorCreatedMethod'
            title: created_methods
            description: Filter by order creation methods
        - name: filter.order_ids
          in: query
          description: Filter by specific order IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - ord_abc123xyz
              maxLength: 100
              minLength: 1
            title: order_ids
            description: Filter by specific order IDs
        - name: filter.payment_status
          in: query
          description: Filter by payment status (for legacy API compatibility)
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.order.v1.VendorOrderPaymentStatus'
            title: payment_status
            description: Filter by payment status (for legacy API compatibility)
        - name: filter.reference_ids
          in: query
          description: Filter by platform reference IDs (platform_ref field)
          schema:
            type: array
            items:
              type: string
              examples:
                - shopify_12345
              maxLength: 100
              minLength: 1
            title: reference_ids
            description: Filter by platform reference IDs (platform_ref field)
        - name: filter.statuses
          in: query
          description: Filter by order statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.order.v1.VendorOrderStatus'
            title: statuses
            description: Filter by order statuses
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorListOrderResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/orders/draft:
    get:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: List Order Draft
      description: |-
        List order drafts (pending checkout)

         GET /api/v3/orders/draft

         Use cases:
           - Review drafts before checkout
           - Identify stuck/incomplete orders
      operationId: api.order.v1.VendorOrderAPI.VendorListOrderDraft
      parameters:
        - name: filter.created_at_min
          in: query
          description: ISO 8601 date-time format (e.g., 2024-01-01T00:00:00Z)
          schema:
            type: string
            format: date-time
        - name: filter.created_methods
          in: query
          description: Filter by creation methods
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.order.v1.VendorCreatedMethod'
            title: created_methods
            description: Filter by creation methods
        - name: filter.order_ids
          in: query
          description: Filter by specific order draft IDs
          schema:
            type: array
            items:
              type: string
              examples:
                - draft_abc123
              maxLength: 100
              minLength: 1
            title: order_ids
            description: Filter by specific order draft IDs
        - name: filter.reference_ids
          in: query
          description: Filter by platform reference IDs (platform_ref field)
          schema:
            type: array
            items:
              type: string
              examples:
                - shopify_12345
              maxLength: 100
              minLength: 1
            title: reference_ids
            description: Filter by platform reference IDs (platform_ref field)
        - name: filter.statuses
          in: query
          description: Filter by draft statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/api.order.v1.VendorOrderDraftStatus'
            title: statuses
            description: Filter by draft statuses
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorListOrderDraftResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
    post:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: Create Order Draft
      description: |-
        Create a new order draft

         POST /api/v3/orders/draft
         Content-Type: application/json

         Use cases:
           - Place new orders programmatically
           - Bulk order creation
           - Integration with e-commerce platforms
      operationId: api.order.v1.VendorOrderAPI.VendorCreateOrderDraft
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.VendorCreateOrderDraftRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorCreateOrderDraftResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
      parameters: []
  /api/v3/orders/draft/labeled:
    post:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: Create Order Draft With Label
      description: |-
        Create order draft with pre-purchased shipping label

         POST /api/v3/orders/draft/labeled
         Content-Type: application/json

         Use cases:
           - Use your own shipping account
           - Consolidate shipping management
      operationId: api.order.v1.VendorOrderAPI.VendorCreateOrderDraftWithLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.VendorCreateOrderDraftWithLabelRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorCreateOrderDraftWithLabelResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
      parameters: []
  /api/v3/orders/draft/line-items:
    patch:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: Update Order Draft Line Items
      description: |-
        Update line items in an order draft

         PATCH /api/v3/orders/draft/line-items
         Content-Type: application/json

         Use cases:
           - Update quantities before checkout
           - Change designs on line items
           - Fix errors in draft orders
      operationId: api.order.v1.VendorOrderAPI.VendorUpdateOrderDraftLineItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.VendorUpdateOrderDraftLineItemsRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorUpdateOrderDraftLineItemsResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
      parameters: []
  /api/v3/orders/draft/{order_id}:
    get:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: Get Order Draft
      description: |-
        Get details of a specific order draft

         GET /api/v3/orders/draft/{order_id}

         Use cases:
           - Review draft before checkout
           - Verify pricing and line items
      operationId: api.order.v1.VendorOrderAPI.VendorGetOrderDraft
      parameters:
        - name: order_id
          in: path
          description: Order draft ID is provided in the URL path parameter
          required: true
          schema:
            type: string
            title: order_id
            maxLength: 255
            minLength: 1
            description: Order draft ID is provided in the URL path parameter
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorGetOrderDraftResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/orders/price:
    post:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: Get Price Quote
      description: |-
        Get price quote before creating order

         POST /api/v3/orders/price
         Content-Type: application/json

         Response includes:
           - order_total: Total cost
           - order_subtotal: Product costs
           - order_shipping_fee: Shipping cost
           - order_tax: Tax amount

         Use cases:
           - Show pricing to customers before checkout
           - Compare shipping methods
           - Calculate profit margins
      operationId: api.order.v1.VendorOrderAPI.VendorGetPriceQuote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.VendorGetPriceQuoteRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorGetPriceQuoteResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
      parameters: []
  /api/v3/orders/{order_id}:
    get:
      tags:
        - api.order.v1.VendorOrderAPI
      summary: Get Order
      description: |-
        Get details of a specific order

         GET /api/v3/orders/{order_id}

         Response includes:
           - Order status and tracking
           - Line items with printing details
           - Shipping information
           - Payment/transaction details

         Use cases:
           - Track order fulfillment
           - Get shipping/tracking info
           - Customer support queries
      operationId: api.order.v1.VendorOrderAPI.VendorGetOrder
      parameters:
        - name: order_id
          in: path
          description: Order ID is provided in the URL path parameter
          required: true
          schema:
            type: string
            title: order_id
            maxLength: 255
            minLength: 1
            description: Order ID is provided in the URL path parameter
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.VendorGetOrderResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
  /api/v3/support/requests:
    get:
      tags:
        - api.support.v1.VendorSupportAPI
      summary: List Support Request
      operationId: api.support.v1.VendorSupportAPI.ListSupportRequest
      parameters:
        - name: created_from
          in: query
          description: ISO 8601 date-time format (e.g., 2024-01-01T00:00:00Z)
          schema:
            type: string
            format: date-time
        - name: paging.limit
          in: query
          schema:
            type: integer
            title: limit
            format: int32
        - name: paging.page
          in: query
          schema:
            type: integer
            title: page
            format: int32
        - name: request_status
          in: query
          schema:
            title: request_status
            $ref: '#/components/schemas/api.support.v1.SupportRequest.Status'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.support.v1.ListSupportRequestResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
    post:
      tags:
        - api.support.v1.VendorSupportAPI
      summary: Create Support Request
      operationId: api.support.v1.VendorSupportAPI.CreateSupportRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.support.v1.CreateSupportRequestRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.support.v1.CreateSupportRequestResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalError'
      security: []
      parameters: []
components:
  schemas:
    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: INVALID_ARGUMENT
        message:
          type: string
          description: Human-readable error message
          example: The request parameters are invalid
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
              issue:
                type: string
                description: Description of the issue
    common.platform.v1.MarketplacePlatform:
      type:
        - string
        - number
      title: MarketplacePlatform
      enum:
        - MARKETPLACE_PLATFORM_EBAY
        - 2
        - MARKETPLACE_PLATFORM_AMAZON
        - 3
        - MARKETPLACE_PLATFORM_SHOPIFY
        - 4
        - MARKETPLACE_PLATFORM_WOOCOMMERCE
        - 5
        - MARKETPLACE_PLATFORM_ETSY
        - 6
        - MARKETPLACE_PLATFORM_SHOPBASE
        - 7
        - MARKETPLACE_PLATFORM_GEARMENT
        - 8
        - MARKETPLACE_PLATFORM_ORDERDESK
        - 9
        - MARKETPLACE_PLATFORM_TIKTOKSHOP
        - 10
        - MARKETPLACE_PLATFORM_POSHMARK
        - 11
        - MARKETPLACE_PLATFORM_PRESTASHOP
        - 12
        - MARKETPLACE_PLATFORM_INKGO
        - 13
        - MARKETPLACE_PLATFORM_WISH
        - 14
        - MARKETPLACE_PLATFORM_BIGCOMMERCE
        - 15
        - MARKETPLACE_PLATFORM_CUSTOMILY
        - 16
    common.type.v1.Money:
      type: object
      properties:
        currency_code:
          type: string
          title: currency_code
          description: The three-letter currency code defined in ISO 4217.
        units:
          type:
            - integer
            - string
          title: units
          format: int64
          description: |-
            The whole units of the amount.
             For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
        nanos:
          type: integer
          title: nanos
          format: int32
          description: |-
            Number of nano (10^-9) units of the amount.
             The value must be between -999,999,999 and +999,999,999 inclusive.
             If `units` is positive, `nanos` must be positive or zero.
             If `units` is zero, `nanos` can be positive, zero, or negative.
             If `units` is negative, `nanos` must be negative or zero.
             For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
      title: Money
      additionalProperties: false
      description: Represents an amount of money with its currency type.
    google.protobuf.Timestamp:
      type: string
      examples:
        - "2023-01-15T01:30:15.01Z"
        - "2024-12-25T12:00:00Z"
      format: date-time
      description: |-
        A Timestamp represents a point in time independent of any time zone or local
         calendar, encoded as a count of seconds and fractions of seconds at
         nanosecond resolution. The count is relative to an epoch at UTC midnight on
         January 1, 1970, in the proleptic Gregorian calendar which extends the
         Gregorian calendar backwards to year one.

         All minutes are 60 seconds long. Leap seconds are "smeared" so that no leap
         second table is needed for interpretation, using a [24-hour linear
         smear](https://developers.google.com/time/smear).

         The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By
         restricting to that range, we ensure that we can convert to and from [RFC
         3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.

         # Examples

         Example 1: Compute Timestamp from POSIX `time()`.

             Timestamp timestamp;
             timestamp.set_seconds(time(NULL));
             timestamp.set_nanos(0);

         Example 2: Compute Timestamp from POSIX `gettimeofday()`.

             struct timeval tv;
             gettimeofday(&tv, NULL);

             Timestamp timestamp;
             timestamp.set_seconds(tv.tv_sec);
             timestamp.set_nanos(tv.tv_usec * 1000);

         Example 3: Compute Timestamp from Win32 `GetSystemTimeAsFileTime()`.

             FILETIME ft;
             GetSystemTimeAsFileTime(&ft);
             UINT64 ticks = (((UINT64)ft.dwHighDateTime) << 32) | ft.dwLowDateTime;

             // A Windows tick is 100 nanoseconds. Windows epoch 1601-01-01T00:00:00Z
             // is 11644473600 seconds before Unix epoch 1970-01-01T00:00:00Z.
             Timestamp timestamp;
             timestamp.set_seconds((INT64) ((ticks / 10000000) - 11644473600LL));
             timestamp.set_nanos((INT32) ((ticks % 10000000) * 100));

         Example 4: Compute Timestamp from Java `System.currentTimeMillis()`.

             long millis = System.currentTimeMillis();

             Timestamp timestamp = Timestamp.newBuilder().setSeconds(millis / 1000)
                 .setNanos((int) ((millis % 1000) * 1000000)).build();

         Example 5: Compute Timestamp from Java `Instant.now()`.

             Instant now = Instant.now();

             Timestamp timestamp =
                 Timestamp.newBuilder().setSeconds(now.getEpochSecond())
                     .setNanos(now.getNano()).build();

         Example 6: Compute Timestamp from current time in Python.

             timestamp = Timestamp()
             timestamp.GetCurrentTime()

         # JSON Mapping

         In JSON format, the Timestamp type is encoded as a string in the
         [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. That is, the
         format is "{year}-{month}-{day}T{hour}:{min}:{sec}[.{frac_sec}]Z"
         where {year} is always expressed using four digits while {month}, {day},
         {hour}, {min}, and {sec} are zero-padded to two digits each. The fractional
         seconds, which can go up to 9 digits (i.e. up to 1 nanosecond resolution),
         are optional. The "Z" suffix indicates the timezone ("UTC"); the timezone
         is required. A ProtoJSON serializer should always use UTC (as indicated by
         "Z") when printing the Timestamp type and a ProtoJSON parser should be
         able to accept both UTC and other timezones (as indicated by an offset).

         For example, "2017-01-15T01:30:15.01Z" encodes 15.01 seconds past
         01:30 UTC on January 15, 2017.

         In JavaScript, one can convert a Date object to this format using the
         standard
         [toISOString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString)
         method. In Python, a standard `datetime.datetime` object can be converted
         to this format using
         [`strftime`](https://docs.python.org/2/library/time.html#time.strftime) with
         the time format spec '%Y-%m-%dT%H:%M:%S.%fZ'. Likewise, in Java, one can use
         the Joda Time's [`ISODateTimeFormat.dateTime()`](
         http://joda-time.sourceforge.net/apidocs/org/joda/time/format/ISODateTimeFormat.html#dateTime()
         ) to obtain a formatter capable of generating timestamps in this format.
    api.catalog.v1.VendorCatalog:
      type: object
      properties:
        product_id:
          type: string
          title: product_id
          description: Product ID
        product_name:
          type: string
          title: product_name
          description: Product name (e.g., "Unisex T-Shirt", "Hoodie")
        product_avatar_url:
          type: string
          title: product_avatar_url
          description: Product main image URL
        print_locations:
          type: array
          items:
            $ref: '#/components/schemas/api.catalog.v1.VendorCatalogPrintLocation'
          title: print_locations
          description: Available print locations for this product
        variants:
          type: array
          items:
            $ref: '#/components/schemas/api.catalog.v1.VendorCatalogVariant'
          title: variants
          description: Available variants (size/color combinations)
        legacy_product_id:
          type: integer
          title: legacy_product_id
          format: int32
          description: Legacy product ID (for backward compatibility)
      title: VendorCatalog
      additionalProperties: false
    api.catalog.v1.VendorCatalogPrintLocation:
      type: object
      properties:
        code:
          type: string
          title: code
          description: Print location code (e.g., "front", "back", "pocket")
        name:
          type: string
          title: name
          description: Print location display name
        location_id:
          type: integer
          title: location_id
          format: int32
          description: Internal location ID
      title: VendorCatalogPrintLocation
      additionalProperties: false
    api.catalog.v1.VendorCatalogShippingFee:
      type: object
      properties:
        variant_id:
          type: string
          title: variant_id
          description: Variant ID (unique identifier)
        product_id:
          type: string
          title: product_id
          description: Product ID
        name:
          type: string
          title: name
          description: Variant name (e.g., "Black / Medium")
        size:
          type: string
          title: size
          description: Size (e.g., "S", "M", "L", "XL")
        color:
          type: string
          title: color
          description: Color name (e.g., "Black", "White", "Navy")
        hex_color_code:
          type: string
          title: hex_color_code
          description: Color hex code (e.g., "#000000", "#FFFFFF")
        variant_sku:
          type: string
          title: variant_sku
          description: Variant SKU
        color_code:
          type: string
          title: color_code
          description: Color code
        size_code:
          type: string
          title: size_code
          description: Size code
        shipping_services:
          type: array
          items:
            $ref: '#/components/schemas/api.catalog.v1.VendorCatalogShippingFeeService'
          title: shipping_services
      title: VendorCatalogShippingFee
      additionalProperties: false
    api.catalog.v1.VendorCatalogShippingFeeService:
      type: object
      properties:
        fee_amount:
          title: fee_amount
          description: Shipping fee for the base item quantity.
          $ref: '#/components/schemas/common.type.v1.Money'
        additional_item:
          title: additional_item
          description: Shipping fee for each additional item.
          $ref: '#/components/schemas/common.type.v1.Money'
        shipping_profile:
          type: string
          title: shipping_profile
          description: Shipping profile identifier.
        shipping_service:
          type: string
          title: shipping_service
          description: Shipping service display name.
      title: VendorCatalogShippingFeeService
      additionalProperties: false
    api.catalog.v1.VendorCatalogVariant:
      type: object
      properties:
        variant_id:
          type: string
          title: variant_id
          description: Variant ID (unique identifier)
        name:
          type: string
          title: name
          description: Variant name (e.g., "Black / Medium")
        size:
          type: string
          title: size
          description: Size (e.g., "S", "M", "L", "XL")
        color:
          type: string
          title: color
          description: Color name (e.g., "Black", "White", "Navy")
        hex_color_code:
          type: string
          title: hex_color_code
          description: Color hex code (e.g., "#000000", "#FFFFFF")
        price:
          title: price
          description: Base price for this variant
          $ref: '#/components/schemas/common.type.v1.Money'
        recommended_price:
          title: recommended_price
          description: Recommended retail price
          $ref: '#/components/schemas/common.type.v1.Money'
        extra_price:
          title: extra_price
          description: Extra price for special features (if applicable)
          $ref: '#/components/schemas/common.type.v1.Money'
        net_price:
          title: net_price
          description: Price that Gearment offers to the team
          $ref: '#/components/schemas/common.type.v1.Money'
        stock_label:
          title: stock_label
          description: Stock availability status
          $ref: '#/components/schemas/api.catalog.v1.VendorCatalogVariantStockLabel'
        product:
          title: product
          description: Parent product information
          $ref: '#/components/schemas/api.catalog.v1.VendorCatalog'
        legacy_variant_id:
          type: integer
          title: legacy_variant_id
          format: int32
          description: Legacy variant ID (for backward compatibility)
        variant_sku:
          type: string
          title: variant_sku
          description: Variant SKU
        color_code:
          type: string
          title: color_code
          description: Color code
        size_code:
          type: string
          title: size_code
          description: Size code
      title: VendorCatalogVariant
      additionalProperties: false
    api.catalog.v1.VendorCatalogVariantStockLabel:
      type:
        - string
        - number
      title: VendorCatalogVariantStockLabel
      enum:
        - VENDOR_CATALOG_VARIANT_STOCK_LABEL_IN_STOCK
        - 1
        - VENDOR_CATALOG_VARIANT_STOCK_LABEL_OUT_OF_STOCK
        - 2
        - VENDOR_CATALOG_VARIANT_STOCK_LABEL_OUT_OF_STOCK_5D
        - 3
        - VENDOR_CATALOG_VARIANT_STOCK_LABEL_DISCONTINUED
        - 4
    api.catalog.v1.VendorGetCatalogShippingFeeResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        paging:
          title: paging
          description: Pagination metadata
          $ref: '#/components/schemas/common.type.v1.PagingResponse'
        data:
          type: array
          items:
            $ref: '#/components/schemas/api.catalog.v1.VendorCatalogShippingFee'
          title: data
          description: List of product variants with shipping fee details.
      title: VendorGetCatalogShippingFeeResponse
      additionalProperties: false
    api.catalog.v1.VendorListCatalogResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message describing the result
        paging:
          title: paging
          description: |-
            Pagination metadata
             Contains: total count, current page, total pages
          $ref: '#/components/schemas/common.type.v1.PagingResponse'
        data:
          type: array
          items:
            $ref: '#/components/schemas/api.catalog.v1.VendorCatalog'
          title: data
          description: |-
            List of products matching the filter
             Each product includes: name, description, images, available variants
      title: VendorListCatalogResponse
      additionalProperties: false
    api.catalog.v1.VendorListCatalogVariantResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        paging:
          title: paging
          description: Pagination metadata
          $ref: '#/components/schemas/common.type.v1.PagingResponse'
        data:
          type: array
          items:
            $ref: '#/components/schemas/api.catalog.v1.VendorCatalogVariant'
          title: data
          description: |-
            List of product variants
             Each variant includes: size, color, SKU, price, stock status, print specifications
      title: VendorListCatalogVariantResponse
      additionalProperties: false
    common.type.v1.PagingResponse:
      type: object
      properties:
        total:
          type:
            - integer
            - string
          title: total
          format: int64
        total_page:
          type: integer
          title: total_page
          format: int32
        page:
          type: integer
          title: page
          format: int32
        limit:
          type: integer
          title: limit
          format: int32
      title: PagingResponse
      additionalProperties: false
    api.webhook.v1.VendorCreateWebhookRequest:
      type: object
      properties:
        status:
          title: status
          description: 'Webhook status: ACTIVE or INACTIVE (default: ACTIVE)'
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Status'
        topic:
          title: topic
          description: |-
            Event topic to subscribe to (required)
             Choose from: ORDER_COMPLETED, ORDER_CANCELED, TRACKING_UPDATED, ADDRESS_UNVERIFIED
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Topic'
        name:
          type: string
          examples:
            - Production Order Completed Notifications
          title: name
          maxLength: 255
          description: 'Human-readable webhook name (optional, helps identify webhook purpose, max length: 255 characters)'
        version:
          title: version
          description: 'Webhook payload version (recommended: use latest version for new webhooks)'
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Version'
        delivery_url:
          type: string
          examples:
            - https://yourapp.com/webhooks/gearment/orders
          title: delivery_url
          maxLength: 2048
          minLength: 1
          format: uri
          description: HTTPS URL to receive webhook POST requests (required, must be publicly accessible and respond within 30 seconds, must use HTTPS)
        store_id:
          type: string
          examples:
            - store_abc123
          title: store_id
          description: Optional store ID to filter events (if provided, only events for this store will trigger the webhook)
      title: VendorCreateWebhookRequest
      additionalProperties: false
    api.webhook.v1.VendorCreateWebhookResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: |-
            Human-readable message
             Success: "Webhook created successfully"
             Error: "Invalid delivery URL" or "Duplicate webhook"
        data:
          title: data
          description: |-
            Created webhook details
             Includes: webhook_id, topic, delivery_url, created_at
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook'
      title: VendorCreateWebhookResponse
      additionalProperties: false
    api.webhook.v1.VendorDeleteWebhookResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: |-
            Human-readable message
             Success: "Webhook deleted successfully"
             Error: "Webhook not found"
        data:
          title: data
          description: Deleted webhook information
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook'
      title: VendorDeleteWebhookResponse
      additionalProperties: false
    api.webhook.v1.VendorListWebhookResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        paging:
          title: paging
          description: Pagination metadata
          $ref: '#/components/schemas/common.type.v1.PagingResponse'
        data:
          type: array
          items:
            $ref: '#/components/schemas/api.webhook.v1.VendorWebhook'
          title: data
          description: |-
            List of registered webhooks
             Each webhook includes: ID, topic, delivery URL, status, created_at
      title: VendorListWebhookResponse
      additionalProperties: false
    api.webhook.v1.VendorWebhook:
      type: object
      properties:
        webhook_id:
          type: string
          title: webhook_id
          maxLength: 255
          minLength: 1
          description: Unique webhook ID
        topic:
          title: topic
          description: Event topic this webhook subscribes to
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Topic'
        status:
          title: status
          description: Webhook status (active/inactive)
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Status'
        delivery_url:
          type: string
          title: delivery_url
          maxLength: 2048
          minLength: 1
          format: uri
          description: URL where webhook events will be delivered (HTTPS required)
        version:
          title: version
          description: Webhook payload version
          $ref: '#/components/schemas/api.webhook.v1.VendorWebhook.Version'
        created_at:
          title: created_at
          description: When this webhook was created
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updated_at:
          title: updated_at
          description: When this webhook was last updated
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        team_id:
          type: string
          title: team_id
          description: Team ID this webhook belongs to
        store_id:
          type: string
          title: store_id
          description: Store ID this webhook is scoped to (optional)
      title: VendorWebhook
      additionalProperties: false
    api.webhook.v1.VendorWebhook.Status:
      type:
        - string
        - number
      title: Status
      enum:
        - STATUS_ACTIVE
        - 2
        - STATUS_INACTIVE
        - 3
    api.webhook.v1.VendorWebhook.Topic:
      type:
        - string
        - number
      title: Topic
      enum:
        - TOPIC_ORDER_COMPLETED
        - 2
        - TOPIC_ORDER_CANCELLED
        - 3
        - TOPIC_TRACKING_ORDER_UPDATED
        - 4
        - TOPIC_ORDER_ON_HOLD
        - 5
        - TOPIC_SHIPPING_ADDRESS_VERIFIED
        - 6
        - TOPIC_SHIPPING_ADDRESS_UNVERIFIED
        - 7
        - TOPIC_PRODUCT_OUT_OF_STOCK
        - 8
    api.webhook.v1.VendorWebhook.Version:
      type:
        - string
        - number
      title: Version
      enum:
        - VERSION_V1
        - 2
        - VERSION_V3
        - 3
    api.order.v1.OriginSalesChannel:
      type:
        - string
        - number
      title: OriginSalesChannel
      enum:
        - ORIGIN_SALES_CHANNEL_DIRECT
        - 1
        - ORIGIN_SALES_CHANNEL_ETSY
        - 2
        - ORIGIN_SALES_CHANNEL_EBAY
        - 3
        - ORIGIN_SALES_CHANNEL_AMAZON
        - 4
        - ORIGIN_SALES_CHANNEL_SHOPIFY
        - 5
        - ORIGIN_SALES_CHANNEL_WOOCOMMERCE
        - 6
        - ORIGIN_SALES_CHANNEL_SHOPBASE
        - 7
        - ORIGIN_SALES_CHANNEL_ORDERDESK
        - 8
        - ORIGIN_SALES_CHANNEL_TIKTOKSHOP
        - 9
        - ORIGIN_SALES_CHANNEL_OTHER_MARKETPLACE
        - 10
      description: |-
        OriginSalesChannel identifies the partner-claimed sales channel where an
         order was originally placed. It is separate from order_platform, which
         continues to identify the integration ingress and tracking-sync contract.
    api.order.v1.VendorAddress:
      type: object
      properties:
        first_name:
          type: string
          examples:
            - John
          title: first_name
          maxLength: 50
          minLength: 1
          description: Recipient's first name (required)
        last_name:
          type: string
          examples:
            - Doe
          title: last_name
          maxLength: 35
          description: Recipient's last name (optional)
        company:
          type: string
          examples:
            - Acme Corporation
          title: company
          maxLength: 50
          description: Company name (optional)
        contact_pronoun:
          type: string
          examples:
            - Mr.
          title: contact_pronoun
          maxLength: 50
          description: Contact pronoun (optional)
        street_1:
          type: string
          examples:
            - 123 Main Street
          title: street_1
          maxLength: 50
          minLength: 1
          description: Street address line 1 (required)
        street_2:
          type: string
          examples:
            - Apt 4B
          title: street_2
          maxLength: 35
          description: Street address line 2 (optional, for apartment/suite)
        state_code:
          type: string
          examples:
            - CA
          title: state_code
          maxLength: 3
          description: State/province code (ISO 3166-2)
        state_name:
          type: string
          examples:
            - California
          title: state_name
          maxLength: 40
          description: State/province full name (optional)
        city:
          type: string
          examples:
            - Los Angeles
          title: city
          maxLength: 30
          minLength: 1
          description: City name (required)
        zip_code:
          type: string
          examples:
            - "90001"
          title: zip_code
          maxLength: 12
          minLength: 1
          description: Postal/ZIP code (required)
        country_code:
          type: string
          examples:
            - US
          title: country_code
          maxLength: 2
          minLength: 2
          description: Country code (ISO 3166-1 alpha-2, required)
        country_name:
          type: string
          examples:
            - United States
          title: country_name
          maxLength: 255
          description: Country full name (optional)
        phone_no:
          type: string
          examples:
            - +1-555-123-4567
          title: phone_no
          maxLength: 50
          description: |
            Phone number (optional)
            phone_no.valid_format // Phone number must be in valid format with 10 digits in 3-3-4 pattern (e.g., +1 (555) 123-4567, 555-123-4567, or +84 555 123 4567). Extensions allowed: ext/x followed by 3-6 digits.
        email:
          type: string
          examples:
            - john.doe@gmail.com
          title: email
          maxLength: 50
          description: |
            Email address (optional)
            email.valid_format // Email must be in valid format (e.g., user@example.com)
        type:
          title: type
          description: Address type
          $ref: '#/components/schemas/api.order.v1.VendorAddress.Type'
      title: VendorAddress
      additionalProperties: false
    api.order.v1.VendorAddress.Type:
      type:
        - string
        - number
      title: Type
      enum:
        - TYPE_SHIP_FROM
        - 2
        - TYPE_SHIP_TO
        - 3
        - TYPE_BILL_TO
        - 4
        - TYPE_RETURN_TO
        - 5
    api.order.v1.VendorBillingOption:
      type: object
      properties:
        ioss_number:
          type: string
          examples:
            - IM1234567890
          title: ioss_number
          maxLength: 255
          description: |-
            IOSS (Import One-Stop Shop) number for EU tax compliance (optional)
             Required for shipments to EU countries to avoid customs delays
        ioss_value:
          title: ioss_value
          description: Total value for IOSS declaration (optional)
          $ref: '#/components/schemas/common.type.v1.Money'
        tax_number:
          type: string
          examples:
            - GB123456789
          title: tax_number
          maxLength: 255
          description: |-
            Tax identification number (optional)
             Used for VAT/GST compliance in various countries
        tax_value:
          title: tax_value
          description: Tax value/amount (optional)
          $ref: '#/components/schemas/common.type.v1.Money'
      title: VendorBillingOption
      additionalProperties: false
    api.order.v1.VendorCancelReason:
      type: object
      properties:
        reason_id:
          type: string
          title: reason_id
          description: Cancellation reason ID
        display_name:
          type: string
          title: display_name
          description: Human-readable cancellation reason
        custom_reason:
          type: string
          title: custom_reason
          description: Custom cancellation reason (if not using predefined reasons)
      title: VendorCancelReason
      additionalProperties: false
    api.order.v1.VendorCreateOrderDraftRequest:
      type: object
      properties:
        data:
          title: data
          description: 'Order draft creation parameters (required fields: platform, store_id, shipping address, line_items)'
          $ref: '#/components/schemas/api.order.v1.VendorOrderDraftManualCreationParams'
      title: VendorCreateOrderDraftRequest
      additionalProperties: false
    api.order.v1.VendorCreateOrderDraftResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        data:
          title: data
          description: |-
            Created order draft details
             Includes: order_id, status, pricing, line items
          $ref: '#/components/schemas/api.order.v1.VendorOrderDraft.Short'
        warnings:
          type: array
          items:
            type: string
          title: warnings
          description: Warnings about at-risk variants or other non-blocking issues
      title: VendorCreateOrderDraftResponse
      additionalProperties: false
    api.order.v1.VendorCreateOrderDraftWithLabelRequest:
      type: object
      properties:
        data:
          title: data
          description: 'Order draft creation with shipping label parameters (required: shipping label URL and service type)'
          $ref: '#/components/schemas/api.order.v1.VendorOrderDraftWithLabelCreationParams'
      title: VendorCreateOrderDraftWithLabelRequest
      additionalProperties: false
    api.order.v1.VendorCreateOrderDraftWithLabelResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message describing the result
        data:
          title: data
          description: Created order draft with shipping label
          $ref: '#/components/schemas/api.order.v1.VendorOrderDraft.Short'
        warnings:
          type: array
          items:
            type: string
          title: warnings
          description: Warnings about at-risk variants or other non-blocking issues
      title: VendorCreateOrderDraftWithLabelResponse
      additionalProperties: false
    api.order.v1.VendorCreatedMethod:
      type:
        - string
        - number
      title: VendorCreatedMethod
      enum:
        - VENDOR_CREATED_METHOD_SYNC
        - 2
        - VENDOR_CREATED_METHOD_MANUAL
        - 3
        - VENDOR_CREATED_METHOD_API
        - 4
        - VENDOR_CREATED_METHOD_IMPORT
        - 5
        - VENDOR_CREATED_METHOD_LABEL
        - 6
    api.order.v1.VendorFulfillmentOption:
      type: object
      properties:
        purchase_tracking_config:
          title: purchase_tracking_config
          description: Tracking purchase timing configuration
          $ref: '#/components/schemas/api.order.v1.VendorPurchaseTrackingConfig'
      title: VendorFulfillmentOption
      additionalProperties: false
    api.order.v1.VendorFulfillmentPriority:
      type:
        - string
        - number
      title: VendorFulfillmentPriority
      enum:
        - VENDOR_FULFILLMENT_PRIORITY_NORMAL
        - 2
        - VENDOR_FULFILLMENT_PRIORITY_RUSH
        - 3
    api.order.v1.VendorFulfillmentVendor:
      type:
        - string
        - number
      title: VendorFulfillmentVendor
      enum:
        - VENDOR_FULFILLMENT_VENDOR_GEARMENT
        - 2
        - VENDOR_FULFILLMENT_VENDOR_AMAZON
        - 3
    api.order.v1.VendorGetOrderDraftResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        data:
          title: data
          description: |-
            Complete order draft details
             Includes: line items, shipping, pricing, status
          $ref: '#/components/schemas/api.order.v1.VendorOrderDraft'
      title: VendorGetOrderDraftResponse
      additionalProperties: false
    api.order.v1.VendorGetOrderResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        data:
          title: data
          description: |-
            Complete order details
             Includes: line items, tracking, shipping, payment, pricing
          $ref: '#/components/schemas/api.order.v1.VendorOrder'
      title: VendorGetOrderResponse
      additionalProperties: false
    api.order.v1.VendorGetPriceQuoteRequest:
      type: object
      properties:
        order_platform:
          type: string
          examples:
            - shopify
          title: order_platform
          enum:
            - ""
            - ebay
            - amazon
            - shopify
            - woocommerce
            - etsy
            - shopbase
            - gearment
            - orderdesk
            - tiktokshop
            - poshmark
            - prestashop
            - inkgo
            - wish
            - bigcommerce
            - customily
            - MARKETPLACE_PLATFORM_EBAY
            - MARKETPLACE_PLATFORM_AMAZON
            - MARKETPLACE_PLATFORM_SHOPIFY
            - MARKETPLACE_PLATFORM_WOOCOMMERCE
            - MARKETPLACE_PLATFORM_ETSY
            - MARKETPLACE_PLATFORM_SHOPBASE
            - MARKETPLACE_PLATFORM_GEARMENT
            - MARKETPLACE_PLATFORM_ORDERDESK
            - MARKETPLACE_PLATFORM_TIKTOKSHOP
            - MARKETPLACE_PLATFORM_POSHMARK
            - MARKETPLACE_PLATFORM_PRESTASHOP
            - MARKETPLACE_PLATFORM_INKGO
            - MARKETPLACE_PLATFORM_WISH
            - MARKETPLACE_PLATFORM_BIGCOMMERCE
            - MARKETPLACE_PLATFORM_CUSTOMILY
          description: Platform where the order originates
        billing:
          title: billing
          description: Billing information (optional, used for tax calculation and billing address)
          $ref: '#/components/schemas/api.order.v1.VendorOrderPriceCalculation.Billing'
        shipping:
          title: shipping
          description: 'Shipping address and method (required: country_code, state_code, method)'
          $ref: '#/components/schemas/api.order.v1.VendorOrderPriceCalculation.Shipping'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorOrderPriceCalculation.LineItem'
          title: line_items
          description: 'List of line items to quote (each item requires: variant_id, quantity, print_locations)'
        gift_messages:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorOrderPriceCalculation.GiftMessage'
          title: gift_messages
          description: Optional gift messages (adds fee if present)
      title: VendorGetPriceQuoteRequest
      additionalProperties: false
    api.order.v1.VendorGetPriceQuoteResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message
        data:
          title: data
          description: 'Price quote breakdown (includes: order_total, order_subtotal, order_shipping_fee, order_tax, currency; all amounts are in USD unless specified otherwise)'
          $ref: '#/components/schemas/api.order.v1.VendorOrderPriceCalculation.OrderPriceQuote'
      title: VendorGetPriceQuoteResponse
      additionalProperties: false
    api.order.v1.VendorGiftMessage:
      type: object
      properties:
        order_id:
          type: string
          title: order_id
          description: Order ID this gift message belongs to
        gift_message_id:
          type: string
          title: gift_message_id
          description: Gift message ID (unique identifier)
        type:
          title: type
          description: Gift message type (custom or uploaded image)
          $ref: '#/components/schemas/api.order.v1.VendorGiftMessage.Type'
        content:
          type: string
          title: content
          description: Gift message text content (max 1000 characters)
        avatar_url:
          type: string
          title: avatar_url
          description: Avatar/image URL for the gift message card
        gift_message_name:
          type: string
          title: gift_message_name
          description: Gift message template/design name
      title: VendorGiftMessage
      additionalProperties: false
    api.order.v1.VendorGiftMessage.Type:
      type:
        - string
        - number
      title: Type
      enum:
        - TYPE_CUSTOM_IMAGE
        - 1
        - TYPE_UPLOAD_IMAGE
        - 2
    api.order.v1.VendorLineItem:
      type: object
      properties:
        order_id:
          type: string
          title: order_id
          description: Order ID this line item belongs to
        quantity:
          type: integer
          title: quantity
          minimum: 1
          format: int32
          description: Quantity ordered (minimum 1)
        printing_options:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorPrintingOption'
          title: printing_options
          description: Printing options for this line item (design URLs and locations)
        origin_options:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorLineItem.OriginOption'
          title: origin_options
          description: Original product options from marketplace (e.g., color, size selections)
        fulfillment_option:
          title: fulfillment_option
          description: Fulfillment options (barcode, etc.)
          $ref: '#/components/schemas/api.order.v1.VendorLineItem.FulfillmentOption'
        variant:
          title: variant
          description: Product variant details
          $ref: '#/components/schemas/api.order.v1.VendorLineItem.Variant'
        product:
          title: product
          description: Product details
          $ref: '#/components/schemas/api.order.v1.VendorLineItem.Product'
        id:
          type:
            - integer
            - string
          title: id
          format: int64
          description: Internal line item ID
        item_price:
          title: item_price
          description: Unit price per item
          $ref: '#/components/schemas/common.type.v1.Money'
        line_tax:
          title: line_tax
          description: Tax amount for this line
          $ref: '#/components/schemas/common.type.v1.Money'
        line_fee:
          title: line_fee
          description: Additional fees for this line
          $ref: '#/components/schemas/common.type.v1.Money'
        line_discount:
          title: line_discount
          description: Discount applied to this line
          $ref: '#/components/schemas/common.type.v1.Money'
        line_subtotal:
          title: line_subtotal
          description: Subtotal before tax and fees (item_price × quantity)
          $ref: '#/components/schemas/common.type.v1.Money'
        line_total:
          title: line_total
          description: Total amount for this line (subtotal + tax + fees - discount)
          $ref: '#/components/schemas/common.type.v1.Money'
        line_item_id:
          type: string
          title: line_item_id
          description: Line item ID (string format)
      title: VendorLineItem
      additionalProperties: false
    api.order.v1.VendorLineItem.FulfillmentOption:
      type: object
      properties:
        barcode_url:
          type: string
          title: barcode_url
          description: Barcode URL for inventory tracking (optional)
      title: FulfillmentOption
      additionalProperties: false
    api.order.v1.VendorLineItem.OriginOption:
      type: object
      properties:
        name:
          type: string
          title: name
          description: Option display name (e.g., "Color", "Size")
        key:
          type: string
          title: key
          description: Option key/identifier
        value:
          type: string
          title: value
          description: Option value (e.g., "Black", "Medium")
      title: OriginOption
      additionalProperties: false
    api.order.v1.VendorLineItem.Product:
      type: object
      properties:
        product_id:
          type: string
          title: product_id
          description: Product ID
        name:
          type: string
          title: name
          description: Product name (e.g., "Unisex T-Shirt")
        description:
          type: string
          title: description
          description: Product description
        images:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorLineItem.ProductImage'
          title: images
          description: Product images
        print_locations:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorLineItem.ProductPrintLocation'
          title: print_locations
          description: Available print locations for this product
        sku:
          type: string
          title: sku
          description: Product SKU
      title: Product
      additionalProperties: false
    api.order.v1.VendorLineItem.ProductImage:
      type: object
      properties:
        url:
          type: string
          title: url
          description: Image URL
        tag:
          type: string
          title: tag
          description: Image tag/category (e.g., "front", "back", "detail")
      title: ProductImage
      additionalProperties: false
    api.order.v1.VendorLineItem.ProductPrintLocation:
      type: object
      properties:
        code:
          type: string
          title: code
          description: Print location code (e.g., "front", "back")
        name:
          type: string
          title: name
          description: Print location display name
        location_id:
          type: integer
          title: location_id
          format: int32
          description: Internal location ID
      title: ProductPrintLocation
      additionalProperties: false
    api.order.v1.VendorLineItem.Short:
      type: object
      properties:
        order_id:
          type: string
          title: order_id
          description: Order ID this line item belongs to
        quantity:
          type: integer
          title: quantity
          minimum: 1
          format: int32
          description: Quantity ordered (minimum 1)
        printing_options:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorPrintingOption'
          title: printing_options
          description: Printing options for this line item (design URLs and locations)
        origin_options:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorLineItem.OriginOption'
          title: origin_options
          description: Original product options from marketplace (e.g., color, size selections)
        fulfillment_option:
          title: fulfillment_option
          description: Fulfillment options (barcode, etc.)
          $ref: '#/components/schemas/api.order.v1.VendorLineItem.FulfillmentOption'
        variant:
          title: variant
          description: Product variant details
          $ref: '#/components/schemas/api.order.v1.VendorLineItem.Variant'
        product:
          title: product
          description: Product details
          $ref: '#/components/schemas/api.order.v1.VendorLineItem.Product'
        id:
          type:
            - integer
            - string
          title: id
          format: int64
          description: Internal line item ID
        line_total:
          title: line_total
          description: Total amount for this line (subtotal + tax + fees - discount)
          $ref: '#/components/schemas/common.type.v1.Money'
        line_item_id:
          type: string
          title: line_item_id
          description: Line item ID (string format)
      title: Short
      additionalProperties: false
      description: |-
        Short is a lightweight version of VendorLineItem containing essential fields
         for compact representation in order listings, including only the total price
    api.order.v1.VendorLineItem.Variant:
      type: object
      properties:
        variant_id:
          type: string
          title: variant_id
          description: Variant ID (string format)
        legacy_id:
          type: integer
          title: legacy_id
          format: int32
          description: Legacy variant ID (integer format, for backward compatibility)
        sku:
          type: string
          title: sku
          description: SKU (Stock Keeping Unit)
        name:
          type: string
          title: name
          description: Variant name (e.g., "Black / Medium")
        description:
          type: string
          title: description
          description: Variant description
        option_1:
          type: string
          title: option_1
          description: First option value (e.g., "Black" for color)
        option_2:
          type: string
          title: option_2
          description: Second option value (e.g., "Medium" for size)
        option_3:
          type: string
          title: option_3
          description: Third option value (optional)
        option_1_name:
          type: string
          title: option_1_name
          description: First option name (e.g., "Color")
        option_2_name:
          type: string
          title: option_2_name
          description: Second option name (e.g., "Size")
        price:
          title: price
          description: Variant price
          $ref: '#/components/schemas/common.type.v1.Money'
        price_gm:
          title: price_gm
          description: Gearment price (internal)
          $ref: '#/components/schemas/common.type.v1.Money'
        images:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorLineItem.ProductImage'
          title: images
          description: Variant images
        stock_label:
          title: stock_label
          description: Stock availability status
          $ref: '#/components/schemas/api.order.v1.VendorStockLabel'
      title: Variant
      additionalProperties: false
    api.order.v1.VendorListOrderDraftResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message describing the result
        paging:
          title: paging
          description: |-
            Pagination metadata
             Contains: total count, current page, total pages
          $ref: '#/components/schemas/common.type.v1.PagingResponse'
        data:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorOrderDraft.Short'
          title: data
          description: List of order drafts matching the filter criteria
      title: VendorListOrderDraftResponse
      additionalProperties: false
    api.order.v1.VendorListOrderResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: 'Response status: "success" or "error"'
        message:
          type: string
          title: message
          description: Human-readable message describing the result
        paging:
          title: paging
          description: Pagination metadata including total count and pages
          $ref: '#/components/schemas/common.type.v1.PagingResponse'
        data:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorOrder.Short'
          title: data
          description: |-
            List of orders matching the filter criteria
             Each order includes: ID, status, line items, tracking info, pricing
      title: VendorListOrderResponse
      additionalProperties: false
    api.order.v1.VendorOrder:
      type: object
      properties:
        order_id:
          type: string
          title: order_id
          description: Unique order ID
        store_id:
          type: string
          title: store_id
          description: Store ID this order belongs to
        team_id:
          type: string
          title: team_id
          description: Team ID (your account ID)
        created_method:
          title: created_method
          description: How this order was created (manual, API, store sync, etc.)
          $ref: '#/components/schemas/api.order.v1.VendorCreatedMethod'
        order_platform:
          title: order_platform
          description: Marketplace platform (Shopify, Etsy, WooCommerce, etc.)
          $ref: '#/components/schemas/common.platform.v1.MarketplacePlatform'
        platform_ref:
          type: string
          title: platform_ref
          description: Platform reference ID (deprecated, will be removed) will be deleted soon
        fulfillment_vendor:
          title: fulfillment_vendor
          description: Fulfillment vendor (Gearment, etc.)
          $ref: '#/components/schemas/api.order.v1.VendorFulfillmentVendor'
        vendor_ref:
          type: string
          title: vendor_ref
          description: Vendor's reference ID for this order
        priority:
          title: priority
          description: Fulfillment priority (standard, rush, etc.)
          $ref: '#/components/schemas/api.order.v1.VendorFulfillmentPriority'
        fulfillment_option:
          title: fulfillment_option
          description: Fulfillment configuration options
          $ref: '#/components/schemas/api.order.v1.VendorFulfillmentOption'
        shipping_option:
          title: shipping_option
          description: Shipping method and carrier details
          $ref: '#/components/schemas/api.order.v1.VendorShippingOption'
        billing_option:
          title: billing_option
          description: Billing and tax options (IOSS, etc.)
          $ref: '#/components/schemas/api.order.v1.VendorBillingOption'
        shipping_labels:
          type: array
          items:
            type: string
          title: shipping_labels
          description: Shipping label URLs (if pre-purchased)
        order_date:
          title: order_date
          description: When the order was originally placed
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        approved_at:
          title: approved_at
          description: When the order was approved for fulfillment
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        paid_at:
          title: paid_at
          description: When the payment was confirmed
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        order_status:
          title: order_status
          description: Current order status
          $ref: '#/components/schemas/api.order.v1.VendorOrderStatus'
        primary_package_id:
          type: string
          title: primary_package_id
          description: Primary package ID for this order
        primary_shipment_id:
          type: string
          title: primary_shipment_id
          description: Primary shipment ID for this order
        is_label_attached:
          type: boolean
          title: is_label_attached
          description: Whether shipping label is attached
        order_subtotal:
          title: order_subtotal
          description: Subtotal (sum of all line items before fees/tax/discount)
          $ref: '#/components/schemas/common.type.v1.Money'
        order_tax:
          title: order_tax
          description: Total tax amount
          $ref: '#/components/schemas/common.type.v1.Money'
        order_fee:
          title: order_fee
          description: Additional processing fees
          $ref: '#/components/schemas/common.type.v1.Money'
        order_discount:
          title: order_discount
          description: Total discount applied
          $ref: '#/components/schemas/common.type.v1.Money'
        order_total:
          title: order_total
          description: Final total amount (subtotal + fees + tax - discount)
          $ref: '#/components/schemas/common.type.v1.Money'
        order_redeem:
          title: order_redeem
          description: Amount redeemed from credits/wallet
          $ref: '#/components/schemas/common.type.v1.Money'
        paid_total:
          title: paid_total
          description: Amount already paid
          $ref: '#/components/schemas/common.type.v1.Money'
        paid_needed:
          title: paid_needed
          description: Amount still needed to complete payment
          $ref: '#/components/schemas/common.type.v1.Money'
        tracking_no:
          type: string
          title: tracking_no
          description: Primary tracking number
        created_at:
          title: created_at
          description: When this order record was created
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updated_at:
          title: updated_at
          description: When this order was last updated
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorOrderLineItem'
          title: line_items
          description: All line items in this order
        store_name:
          type: string
          title: store_name
          description: Store name for display
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/api.order.v1.VendorAddress'
          title: addresses
[...]
